{% extends '::base.html.twig' %}

{% set new_product_btn = 'acc_new_product_btn' %}
{% set pts_del_lk_id = 'acc_pts_del_lk' %}
{% set pts_dlg_lk_id = 'acc_pts_dlg_lk' %}
{% set pts_dlg_title = 'inventory.new_inventory_item'|trans %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}    
    <script type='text/javascript'>
        jQuery(function ($) {
            $(document).ajaxStart($.blockUI()).ajaxStop($.unblockUI());
            
            $('#{{ new_product_btn }}').click(function (e) {
                $.dialog({
                    title           : '{{ 'inventory.new_inventory_item'|trans }}',
                    url             : '{{ path('morus_accetic_inventory_ajax_new') }}',
                    loading_msg     : '{{ 'sys.loading'|trans }}',
                    loading_icon    : '{% image '@MorusAcceticBundle/Resources/public/images/loading.gif' %}{{ asset_url }}{% endimage %}',
                    error_msg       : '{{ 'error.fail_connent_server'|trans }}',
                    save_btn        : '{{ 'btn.save'|trans }}',
                    cancel_btn      : '{{ 'btn.cancel'|trans }}',
                    success         : function( response ) {
                        alert(response.success);
                    }
                });
            });
        });

        
    </script>
{% endblock javascripts %}

{% block body_title -%}
    {{ 'inventory.inventory_items'|trans }}
{% endblock %}

{% block body -%}
    <ul class="page-control">
        <li>
            <a id="{{ new_product_btn }}" class="loading-btn" />
            {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
            <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:0 -50px;" ></em>
            {% endimage %}
            {{ 'btn.add_new_item'|trans }}
            </a>
        </li>
        <li>
            <button type="button" id="btn" class="loading-btn">
                {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
                <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:-220px -50px;" ></em>
                {% endimage %}
                {{ 'btn.delete'|trans }}
            </button>
        </li>
    </ul>
    
    {{ render(controller('MorusAcceticBundle:Inventory:List' ))}}
{% endblock body %}
