{% extends '::base.html.twig' %}

{% set pts_del_lk_id = 'acc_pts_del_lk' %}
{% set pts_dlg_lk_id = 'acc_pts_dlg_lk' %}
{% set pts_dlg_title = 'inventory.edit_inventory_item'|trans %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@MorusAcceticBundle/Resources/public/js/jquery-1.9.1.min.js' %}
        <script type="text/ecmascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type='text/javascript'>
        
    </script>
{% endblock javascripts %}

{% block body_title -%}
    {{ product.itemname }}
{% endblock %}

{% block body -%}
    <ul class="page-control">
        <li>
            <a class="loading-btn" href="{{ path('morus_accetic_inventory') }}">
                {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
                <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:-140px -50px;" ></em>
                {% endimage %}
                {{ 'btn.back'|trans }}
            </a>
        </li>
        <li>
            <a id="{{ pts_dlg_lk_id }}" class="loading-btn" href="#" />
            {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
            <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:-120px -50px;" ></em>
            {% endimage %}
            {{ 'btn.edit_item'|trans }}
            </a>
        </li>
        <li>
            <a id="{{ pts_del_lk_id }}" class="loading-btn" href="{{ path('morus_accetic_inventory_delete', {'id' : product.id}) }}" />
            {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
            <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:-220px -50px;" ></em>
            {% endimage %}
            {{ 'btn.delete'|trans }}
            </a>
        </li>
    </ul>
    
    <div id="container-box" class="">
        <div class="section-header">
            <h2>{{ product.itemname }}</h2>
            {{ product.itemcode }}<br/>
        </div>
    
        <div class="section-form inset form">
            <br/>
            {% if (product.forpurchase) %}
                <h3>{{ 'inventory.purchases'|trans }}</h3>
                <hr/>
                {{ 'inventory.unitprice'|trans }} {{ product.lastcost }} / {{ product.unit }}
                <hr/>
                {{ 'inventory.description'|trans }} {{ product.purchaseDescription }}
            {% endif %}
            <br/>
            {% if (product.forsale) %}
                <h3>{{ 'inventory.sales'|trans }}</h3>
                <hr/>
                {{ 'inventory.unitprice'|trans }} {{ product.listprice }} / {{ product.unit }}
                <hr/>
                {{ 'inventory.description'|trans }} {{ product.saleDescription }}
            {% endif %}

            <hr/>

            {# Edit Product Dialog #}
            {{ include('MorusAcceticBundle:Inventory:product.dialog.html.twig', {  
                'pts_dlg_title' : pts_dlg_title,
                'pts_dlg_lk_id' : pts_dlg_lk_id,
                'product_form' : product_edit_form
            }) }}
        </div>
    </div>
{% endblock %}
