{% extends '::base.html.twig' %}

{% block body_title -%}
    {{ 'ar.invoices'|trans }}
{% endblock %}

{% block body -%}
    
    
        
    <ul class="page-control">
        <li>
            <a class="loading-btn" href="{{ path('morus_accetic_ar_new') }}">
                {% image '@MorusAcceticBundle/Resources/public/images/icons-pack.png' %}
                <em class="icons add icon" style="background:url('{{ asset_url }}') no-repeat;background-position:0 -50px;" ></em>
                {% endimage %}
                {{ 'btn.new_invoice'|trans }}
            </a>
        </li>
    </ul>
    
    <div class="fullwidth-space"></div>
    
    <table class="records_list ar">
        <thead>
            <tr>
                <th>{{ ('ar.number' |trans)}}</th>
                <th>{{ ('ar.reference' |trans)}}</th>
                <th>{{ ('ar.to' |trans)}}</th>
                <th>{{ ('ar.date' |trans)}}</th>
                <th>{{ ('ar.due_date' |trans)}}</th>
                <th>{{ ('ar.paid' |trans)}}</th>
                <th>{{ ('ar.due' |trans)}}</th>
                <th>{{ ('ar.status' |trans)}}</th>
                <th>{{ ('ar.sent' |trans)}}</th>
            </tr>
        </thead>
        <tbody>
        {% for ar in ars %}
            <tr>
                <td><a href="{{ path('morus_accetic_ar_edit', { 'id': ar.id }) }}">{{ ar.invnumber }}</a></td>
                <td>{{ ar.reference }}</td>
                <td>{{ ar.unit.name }}</td>
                <td>{% if ar.transdate %}{{ ar.transdate|date('d/m/Y') }}{% endif %}</td>
                <td>{% if ar.duedate %}{{ ar.duedate|date('d/m/Y') }}{% endif %}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{% if ar.emailed %}OK{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
