{% block invoices_widget %}
    {% spaceless %}
        {% for invoice in form %}
            {{ form_widget(invoice) }}
        {% endfor %}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock invoices_widget %}

{% block invoice_widget %}
    {% spaceless %}
        <div id="transaction-invoice">
            <table>
                <tr>
                    <td>
                        {{ form_widget(form.parts)}}
                    </td>
                    <td>
                        {{ form_widget(form.description)}}
                    </td>
                    <td>
                        {{ form_widget(form.qty) }}
                    </td>
                    <td>
                        {{ form_widget(form.sellprice)}}
                    </td>
                    <td>
                        {{ form_widget(form.discount)}}
                    </td>
                    <td>
                        <label id='{{ form.vars.name }}_invoiceAmount'></label>
                    </td>
                </tr>
            </table>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock invoice_widget %}